.nav {
  background-color: rgb(37, 36, 36);
  height: 4rem;
  display: flex;
  align-items: center;
  &__icon {
    justify-self: flex-start;
    background-image: linear-gradient(
      to right,
      white,
      rgb(173, 162, 162),
      white
    );
    color: transparent;
    -webkit-background-clip: text;
    margin-left: 2rem;
    font-size: 2rem;
    font-weight: 500;
  }
  &__container {
    display: grid;
    margin: 3rem;
    column-gap: 3rem;
    row-gap: 3rem;
    grid-template-columns: repeat(4, minmax(25rem, 1fr));
    @media only screen and (max-width: 56.25em) {
      grid-template-columns: repeat(3, minmax(25rem, 30rem));
    }
    @media only screen and (max-width: 43.75em) {
      margin: 2rem auto;
      grid-template-columns: repeat(2, minmax(25rem, 30rem));
    }
    @media only screen and (max-width: 34.75em) {
      margin: 2rem auto;
      grid-template-columns: repeat(1, minmax(25rem, 30rem));
    }
  }
}
.box {
  height: 40rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: all 1s;
  position: relative;
  perspective: 150rem;
  @media only screen and (max-width: 34.75em) {
    height: 60rem;
  }
  &__front {
    height: inherit;
    transition: all 1s;
    position: absolute;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid $color-primary-light;
    @media only screen and (max-width: 34.75em) {
      height: 70%;
    }
    // transform: rotateY(10deg);
  }
  &__back {
    height: inherit;
    width: 100%;
    transition: all 1s;
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    background-image: linear-gradient(
      to right bottom,
      $color-primary-dark,
      $color-primary-light
    );
    display: flex;
    justify-content: center;
    align-items: center;
    @media only screen and (max-width: 34.75em) {
      transform: rotateY(0deg);
      height: 30%;
      top: 65%;
      clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
    }
    // transform: rotateY(90deg);
    &__icon {
      align-self: flex-start;
      position: relative;
      // left: 7rem;
      margin-left: 2rem;

      &__checkbox {
        width: 3.5rem;
        height: 3.5rem;
        z-index: 100;
        opacity: 0;
        cursor: pointer;
        &:hover ~ .icon__heart--unliked {
          fill: rgb(255, 1, 43);
        }
        &:checked ~ .icon__heart--unliked {
          visibility: hidden;
          opacity: 0;
        }
        &:checked ~ .icon__heart--liked {
          visibility: visible;
          opacity: 1;
          animation: heart_beat 1s ease 0s;
        }
      }
      &__container {
        position: relative;

        & > * {
          position: absolute;
        }
      }
    }
  }
  &:hover &__back {
    transform: rotateY(0deg);
  }
  &:hover &__front {
    transform: rotateY(-180deg);
    @media only screen and (max-width: 34.75em) {
      transform: rotateY(0deg);
    }
  }
  &__picture {
    // position: relative;
    width: inherit;
    height: 60%;
    background-image: linear-gradient(
      to right bottom,
      rgb(245, 114, 13),
      rgb(105, 58, 58),
      rgb(221, 34, 34)
    );
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    &__img {
      height: 100%;
      width: 100%;
      clip-path: inherit;
      background-blend-mode: screen;
      opacity: 0.8;
    }
  }
  &__heading {
    font-size: 2.2rem;
    text-transform: uppercase;
    font-weight: 300;
    color: black;
    position: absolute;
    width: 60%;
    text-align: right;
    top: 15rem;
    right: 1rem;
    @media only screen and (max-width: 75em) {
      width: 70%;
      top: 15rem;
    }
    &--span {
      padding: 0rem 1.5rem;

      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;
      background-image: linear-gradient(
        to right bottom,
        rgba($color-secondary-light, 0.85),
        rgba($color-secondary-dark, 0.85)
      );
    }
  }
  &__feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}

.feature__rating {
  display: flex;
}
.feature__info {
  display: flex;
  flex-direction: column;
  color: rgb(46, 45, 45);
  margin-top: 2rem;
  width: 50%;
  & > * {
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
    border-bottom: 2px solid rgb(158, 152, 152);
    display: flex;
    justify-content: center;

    border-radius: 2px;
  }
  &__price {
    font-size: 2rem;
    font-weight: 300;
    &-small {
      font-size: 1.2rem;
    }
  }
  &__stock {
    font-size: 1.5rem;
    color: $color-primary-dark;
  }
}
.feature__alert {
  position: absolute;
  right: 1rem;
}
